#wrapper{
	margin-left: auto;
  	margin-right: auto;
}

#menu{
	background-color: #00E856;
}

#name{
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 40px;
	color: #00E856;
}

.tabs{
	font-family: 'Open Sans', Arial, serif;
	font-weight: 600;
	font-style: italic;
	font-size: 21px;
	color: white;
	cursor: pointer;
}

.headers{
  font-size: 30px;
  color: rgba(0,0,0,0.85)
}